name: Deploy

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  publish-ghcr:
    if: "contains(github.event.head_commit.message, '#publish')"
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.TOKEN }}

    - name: Build Docker image
      env:
        USERNAME: ${{ github.actor }}
        IMAGE: ${{ github.event.repository.name }}
        TAG: "latest"
      run: |
        docker build --tag ghcr.io/$USERNAME/$IMAGE:$TAG -f build/docker/Dockerfile .
        docker push ghcr.io/$USERNAME/$IMAGE:$TAG
